/** slider section css start **/
a#navbarDropdown {
    margin-left: 1030px;
}
.hero {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1.15rem;
    padding-top:50px;
    padding-bottom:76px;
    color: #fff;
    background-color: #d3d3d3;
    text-decoration: none;
    height: 100%;
    max-height: 500px;
    min-height: 380px;
    z-index: 1;
}
.hero__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero__background img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}
.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0.2))),-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.2)),to(transparent));
    background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
    z-index: 2;
}
.hero__content {
    max-width: 650px;
    width: 100%;
    z-index: 3;
    text-align: center;
}
/** three blocks css start **/
.main-student {
    background: #2E3131;
    box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -60px;
    padding: 30px 0px 30px 0px;
    position: relative;
	z-index: 9;
}
.find-box {
    padding: 20px 20px 20px 20px;
    text-align: center;
}
.find-box h3 {
    color: #fff;
    font-size: 24px;
	margin-bottom:30px;
}
a.fnd-btn {
    font-weight: 500;
    color: #fff;
    padding: 6px 20px;
    background-color: #4DCC33;
    font-size: 18px;
    border-radius: 25px;
}
.find-box .icon i {
    color: #4dcc33;
    font-size: 36px;
    margin-bottom: 20px;
}
a.fnd-btn:hover
{
	color:#fff;
	text-decoration:none;
}
a:focus
{
outline:none;
}
/** three blocks section css **/

/** blos section css start **/
.news-box .news-post .news-content {
    padding: 30px 30px 0;
    margin: -50px 20px 0;
    background: #ffffff;
    position: relative;
}
.news-box .news-post { 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding-bottom: 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
}
.news-box .news-post .news-content p.auth-paragraph {
    font-size: 16px;
    font-weight: 400;
}
p.auth-paragraph a {
    margin-left: 6px;
    padding-left: 10px;
    color: #999;
    position: relative;
}
.news-box .news-post .news-content h2 {
    line-height: 26px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.news-box .news-post p {
    font-size: 15px;
    line-height: 26px;
}
.news-box .news-post .text-btn {
    border-bottom: 1px solid #5fcf80;
    padding-bottom: 4px;
    position: relative;
    display: inline-block;
	color:#5fcf80;
}
.news-post img {
    width: 100%;
    object-fit: cover;
}
.news-box {
    width: 100%;
    float: left;
    padding:80px 0px;
}
.news-box h2 {
    text-align: center;
    margin-bottom: 50px;
}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{
a.fnd-btn {
    font-weight: 500;
    color: #fff;
    padding: 6px 20px;
    background-color: #4DCC33;
    font-size: 16px;
    border-radius: 25px;
}
.find-box h3 {
    color: #fff;
    font-size: 21px;
    margin-bottom: 30px;
}
}

.navbar.nav-professor {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff!important;
}
.navbar.nav-professor a {
    color: #000;
}
.navbar.nav-professor a {
    color: #000;
}